<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <meta name="description" content="ngHighcharts : AngularJs directive for Highcharts"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="javascripts/ng-highcharts.js"></script>
    <script src="javascripts/main.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>ngHighcharts</title>
</head>

<body>

<!-- HEADER -->
<div id="header_wrap" class="outer">
    <header class="inner">
        <a id="forkme_banner" href="https://github.com/bharrat/ngHighcharts">View on GitHub</a>

        <h1 id="project_title">ngHighcharts</h1>

        <h2 id="project_tagline">AngularJs directive for Highcharts</h2>

        <section id="downloads">
            <a class="zip_download_link" href="https://github.com/bharrat/ngHighcharts/zipball/master">Download this
                project as a .zip file</a>
            <a class="tar_download_link" href="https://github.com/bharrat/ngHighcharts/tarball/master">Download this
                project as a tar.gz file</a>
        </section>
    </header>
</div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
        <h3>
            <a name="usage" class="anchor" href="#usage"><span
                    class="octicon octicon-link"></span>
            </a>Usage</h3>
            <div>
                <strong>Controller:</strong>
                <p><pre>function DemoCtrl($scope) {
    var chartData = {
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: [
                ['Firefox',   45.0],
                ['IE',       26.8],
                {name: 'Chrome', y: 12.8, sliced: true,selected: true},
                ['Safari',    8.5],
                ['Opera',     6.2],
                ['Others',   0.7]
            ]
        }]
    };</pre></p>
                <strong>View:</strong>
                <p></p>

                <p>
                    <code>
                        &lt;div data-highchart data-options=&quot;chartData&quot; width=&quot;300&quot; height=&quot;400&quot;&gt;&lt;/div&gt;
                    </code>
                    <br/>or<br/>
                    <code>
                        &lt;highchart data-options=&quot;chartData&quot; width=&quot;300&quot; height=&quot;400&quot;&gt;&lt;/highchart&gt;
                    </code>
                </p>
            </div>


        <h3>
            <a name="demo" class="anchor" href="#demo"><span
                    class="octicon octicon-link"></span>
            </a>Demo</h3>
        <div role="main" class="view-container container" ng-controller="DemoCtrl" ng-app="chartDemo">
            <div data-ng-show="parseError" class="alert alert-danger">
                <h5>Error updating chart</h5>
                <p>{{ parseError }}</p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button ng-click="updateChart()" class="btn btn-primary">Update chart</button>
                </div>
                <div class="col-md-6"></div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <textarea class="form-control" rows="20" cols="80" ng-model="chart1Json">{{ chart1Json }}</textarea>
                </div>
                <div class="col-md-6"><div data-highchart data-options="chartData1" width="300" height="400"></div></div>


            </div>

        </div>


</section>
</div>
<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
    <footer class="inner">
        <p class="copyright">ngHighcharts maintained by <a href="https://github.com/bharrat">bharrat</a></p>

        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
    </footer>
</div>


</body>
</html>
